p {
    line-height: 27.2px;
}

figure {
    text-align: center;
    border: 1px dotted grey;
    margin: 0.5em;
    padding: 0.5em;
}

figure.right {
    position: relative;
    /* display: block; */
    float: right;
    left: 23%;
    margin-left: -18%;
}

figure img {
    vertical-align: top;
}

figure figcaption {
    font-size: 10pt;
    font-style: italic;
    margin: 0 auto;
    padding-top: 5px;
}

ul {
    margin-left: 0;
    margin-right: 0;
}

@media screen and (max-width: 1110px) {
    figure, figure.right {
        float: none;
        margin: 0;
        padding: 0;
        left: 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 600px) {
    figure, figure.right {
        background: #fff;
        padding: 1em;
        border: 0;
    }

    figure img {
        width: 100%;
    }
}
