div.blog-wrapper {
    min-height: calc(100vh - 11em);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.body a, div.post-link a {
    color: #DC9E82;
}

div.post {
    padding-bottom: 2em;
}
div.post > h2 {
    font-size: 29pt;
    padding-bottom: 0;
    margin-bottom: 0.15em;
}
div.post div.date {
    font-size: 11pt;
    text-transform: uppercase;
}
div.post div.body {
    padding-top: 0.5em;
}
div.post div.body p {
    line-height: 24px;
}

div.pagination-wrapper {
    display: flex;
    justify-content: space-between;
}
div.pagination-wrapper a {
    color: #85A762;
    text-decoration: none;
}

figure {
    text-align: center;
    margin: 0.5em;
    padding: 0.5em;
}

figure.right {
    position: relative;
    float: right;
    left: 23%;
    margin-left: -18%;
}

figure.center img {
    width: 100%;
}

figure img {
    vertical-align: top;
}

figure figcaption {
    font-size: 10pt;
    font-style: italic;
    margin: 0 auto;
    padding-top: 5px;
}

@media screen and (max-width: 1360px) {
    figure + p {
        clear: both;
    }

    figure.center {
        width: 100%;
    }

    figure.center image {
        object-fit: cover;
        height: 200px;
    }

    figure.right, figure.left {
        float: none;
        margin: 0;
        padding: 0;
        left: 0;
        margin-left: 0;
        border: 0;
    }
}

@media screen and (max-width: 600px) {
    div.post > h2 {
        font-size: 25pt;
        line-height: 25pt;
    }
}

@media screen and (max-width: 300px) {
    figure img {
        width: 100%;
    }
}
