div.blog-wrapper {
    min-height: calc(100vh - 11em);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.post {
    padding-bottom: 2em;
}

div.pagination-wrapper {
    display: flex;
    justify-content: space-between;
}
div.pagination-wrapper a {
    color: #85A762;
    text-decoration: none;
}
