div.blog-wrapper {
    min-height: calc(100vh - 11em);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.body a, div.post-link a {
    color: #DC9E82;
}

div.post {
    padding-bottom: 2em;
}
div.post > h2 {
    font-size: 29pt;
    padding-bottom: 0;
    margin-bottom: 0.15em;
}
div.post div.date {
    font-size: 11pt;
    text-transform: uppercase;
}
div.post div.body {
    padding-top: 0.5em;
}
div.post div.body p {
    line-height: 24px;
}

div.pagination-wrapper {
    display: flex;
    justify-content: space-between;
}
div.pagination-wrapper a {
    color: #85A762;
    text-decoration: none;
}
