h1 {
    font-size: 30pt;
}

p {
    line-height: 25px;
}

div.crabs-wrapper {
    display: flex;
    justify-content: center;
}

.img-two {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

@media screen and (max-width: 1110px) {
    h1 {
        margin: 0;
        padding: 0;
    }

    .crabs-wrapper > * {
        object-fit: cover;
        width: 50%;
        height: 200px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 25pt;
    }

    .crabs-wrapper {
        padding: 0.75em 0;
    }

    .crabs-wrapper .img-one {
        width: 100vw;
        transform: scale(1.1);
    }

    .crabs-wrapper .img-two {
        display: none;
    }
}
