* {
  box-sizing: border-box;
  color: #313638;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  background: #F6F6F3;
}
body > * {
  width: 100%;
  margin: 0 auto;
}

.wrap {
  width: 90%;
  max-width: 1000px;
}

aside {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 14em;
}
aside div.title-wrapper {
  border-left: 3px solid #313638;
  border-bottom: 3px solid #313638;
  padding: 15em 0 0 0;
}
aside div.title {
  display: flex;
  font-weight: 800;
  font-size: 30pt;
}
aside div.title > * {
  color: #F6F6F3;
}
aside div.title .title-part-zero {
  background: #313638;
  padding-left: 0.25em;
}
aside div.title .title-part-one {
  background: #D58936;
  padding: 0 0.1em 0 1em;
}
aside div.title .title-part-two {
  padding: 0 0 0 0.1em;
  color: #313638;
}
aside nav {
  border-right: 3px solid #313638;
}
aside nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100px;
  width: 100%;
  padding: 0;
}
aside nav ul li {
  background: #313638;
  margin-right: 0;
  transition: background 150ms ease-out 30ms;
  text-align: right;
  padding: 3px 5px 3px 0;
}
aside nav ul li:nth-child(1) {
  width: 11em;
}
aside nav ul li:nth-child(2) {
  background: #D58936;
  width: 8em;
}
aside nav ul li:nth-child(3) {
  width: 9.5em;
}
aside nav ul li:hover {
  background: #fff;
}
aside nav ul li:hover a {
  color: #313638;
}
aside nav ul a {
  text-decoration: none;
  color: #F6F6F3;
  width: 100%;
  height: 100%;
  display: block;
  transition: color 250ms ease-out 100ms;
}

main {
  float: right;
  width: 70%;
  max-width: 70%;
  padding: 5em 0 6em;
}

@media screen and (max-width: 1110px) {
  .wrap {
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    max-width: 100%;
  }

  .wrap aside {
    float: none;
    width: 100vw;
    box-shadow: 0 5px 5px -5px gray;
    background: #313638;
  }
  .wrap aside div.title-wrapper {
    padding: 0.25em 0;
    justify-content: flex-end;
  }
  .wrap aside div.title {
    justify-content: center;
  }
  .wrap aside div.title .title-part-one {
    color: #fff;
  }
  .wrap aside div.title .title-part-two {
    padding: 0 1.25em 0 0.1em;
    color: #fff;
  }
  .wrap aside nav {
    border-right: none;
    background: #fff;
  }
  .wrap aside nav ul {
    flex-direction: row;
    height: 25px;
  }
  .wrap aside nav ul li {
    flex: 1 1 0px;
    text-align: center;
    background: none;
  }
  .wrap aside nav ul li a {
    color: #313638;
  }

  .wrap main {
    float: none;
    width: 100%;
    min-width: 100%;
    padding: 2em 1em 3em;
  }

  main p {
    text-align: justify;
  }
}
